In [2]:
import pandas as pd

In [7]:
pesos = [3.1, 2.7, 2.4, 1.9]
gatos_pd = pd.Series(pesos)
gatos_pd

0    3.1
1    2.7
2    2.4
3    1.9
dtype: float64

In [9]:
gatos = ["Tartaruga", "Xuxinha", "Yasmin", "Bartolomeu"]
gatos_pd.index = gatos
gatos_pd

Tartaruga     3.1
Xuxinha       2.7
Yasmin        2.4
Bartolomeu    1.9
dtype: float64

In [12]:
gatos_pd[1:3]
gatos_pd[["Bartolomeu", "Xuxinha"]]

Bartolomeu    1.9
Xuxinha       2.7
dtype: float64

In [16]:
gatos_pd = gatos_pd.apply(lambda x : str(x).replace(".", ","))
gatos_pd

Tartaruga     3,1
Xuxinha       2,7
Yasmin        2,4
Bartolomeu    1,9
dtype: object

In [19]:
dicionario = {'nome' : ['Adelaide', 'Celeste', 'Adelaidezinha', 'Frufrinha'],
              'idade' : [11, 4, 3, 2],
              'peso' : [4.5, 4.8, 4.3, 3.9]}
df = pd.DataFrame(dicionario)
df

            nome  idade  peso
0       Adelaide     11   4.5
1        Celeste      4   4.8
2  Adelaidezinha      3   4.3
3      Frufrinha      2   3.9

In [22]:
import numpy as np
array = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
array

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [38]:
array_df = pd.DataFrame(array, columns = ["A", "B", "C"], index = ["D", "E", "F"])
array_df["E":"F"][["B", "C"]]

   B  C
E  5  6
F  8  9

In [ ]:
dict1 = {'nome' : 'Adelaide', 'idade' : 20}

for key, value in dict1:
    print(key, value, "\n")